@charset "utf-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/* font-family: 'NanumSquare'; */

*{box-sizing: border-box;}
body{ padding-top: 110px; }
/* header */
#headerWrap{
    width: 100%;
    top:0;
    left:0;
    position: fixed;
    /*왜인지 모르지만 넣으니까 고정이 되네....와우*/
    z-index:20;
    background-color: #fff;
}
#headerWrap header{
    width: 100%;
    border-bottom: 1px solid #ddd;
}
#headerWrap header .header{
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: 'NanumSquare';
    font-size: 15px;
    color: #000;
}
/* 로고 크기 = 205, 100 */
#headerWrap header .header .logo-wrap img{width: 185; height: 90px;}

#headerWrap header .header nav{
    display: flex;
    position: relative;
    right: 150px; top: 0;
}
#headerWrap header .header nav ul{
    display: flex;
    justify-content: center;
}
#headerWrap header .header nav ul li{margin: 22px 40px;}
#headerWrap header .header nav ul li a{
    font-family: 'NanumSquare';
    font-size: 15px;
    color: #000;
}
#headerWrap header .header nav ul li:nth-child(2) a{
    font-weight: bold;
    color: rgb(15, 169, 88);
}
#headerWrap header .header nav ul li a:hover{
    font-weight: bold;
    color: rgb(108, 226, 0);
}

#headerWrap header .header .header_right p a{color: #000;}

/* main */

/* footer */
#footerWrap{
    width: 100%;
    background-color: #ccc;
    padding: 10px 0;
}
footer{
    width: 960px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
footer .logo{
    width: 200px;
    margin-right: 100px;
}
footer .logo img{width: 100%;}
footer .text-box{
    color: rgba(100, 100, 100, .7);
    font-size: 15px;
}
footer .text-box address{ padding: 50px 0 0; }
footer .text-box p{ padding: 5px 0; }
footer .text-box .copy{
    font-size: 13px;
    margin-top: 10px;
}
footer .top-btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}